name: Deploy to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
          cache-dependency-path: ./pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install

      - name: Install dependencies
        working-directory: ./packages/app
        run: pnpm install

      - name: Build App
        working-directory: ./packages/app
        run: pnpm run build
        env:
          NODE_ENV: production
          NEXT_PUBLIC_SOLANA_RPC_URL: ${{secrets.NEXT_PUBLIC_SOLANA_RPC_URL}}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: packages/app/out

      - name: Deploy to external repository
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: packages/app/out
          cname: allowly.app
